<%= form_with(model: status_update, local: true) do |form| %>
  <% if status_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status_update.errors.count, "error") %> prohibited this status_update from being saved:</h2>

      <ul>
      <% status_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
