<p id="notice"><%= notice %></p>

<h1>Status Updates</h1>

<div id="status-updates">
  <% @status_updates.each do |update| %>
    <div class="status-update">
      <p><%= update.body %></p>
      <small><%= update.created_at %></small>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Status Update', new_status_update_path %>
