<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @status_update.body %>
</p>

<%= link_to 'Edit', edit_status_update_path(@status_update) %> |
<%= link_to 'Back', status_updates_path %>
